<VirtualHost _default_:80>
    ServerName {{ cert }}
{% for domain in domains %}
    ServerAlias {{ domain }}
{% endfor %}
    RewriteEngine On
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<VirtualHost _default_:443>
    ServerName {{ cert }}
{% for domain in domains %}
    ServerAlias {{ domain }}
{% endfor %}

    SSLEngine on
    SSLHonorCipherOrder on
    SSLCipherSuite PROFILE=SYSTEM
    SSLProxyCipherSuite PROFILE=SYSTEM
    SSLCertificateFile {{ cert_crt }}
    SSLCertificateKeyFile {{ cert_key }}

    <Directory "/var/www/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>
    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    BrowserMatch "MSIE [2-5]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

    CustomLog logs/ssl_{{ cert }}_request_log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
    ErrorLog logs/ssl_{{ cert }}_error_log
    TransferLog logs/ssl_{{ cert}}_access_log
    LogLevel warn
</VirtualHost>
